.col-md-1 ul li {
  list-style: none;
}


.topnav{
  height: 40px;
}

.break {
  height: 20px;
  width: 125px;
  margin-bottom: 5px;
  color: black;
  border-bottom: 1px solid black;

}

.lright {
  float: right;
  margin-top: 20px;
  margin-right: 40px;
}
.leftimg  {
  width: 200px;
  height: 200px;
  float: left;
}
.rightimg{
  float: right;
  width: 150px;
  height: 150px;
}

.welcome {
  border: 1px solid black;
  margin: 10px;
}
.r1 {
  border: 1px solid black;
  
}
